body{
	background-color:black;
}

.slider{
	height:400px;
}

.scroll{
	height:inherit;
}

.slider .scroll > div{
		height:inherit;	
}

.slider .scroll > div img{
	opacity:.6;
		-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%,transparent),to(rgba(255,255,255,0.5)));
		-webkit-transition:opacity 1s;
}

.slider .scroll > div img:hover{
	opacity:1;
}